$error_text_color: #721c24 !default;
$error_shadow_color: #f5c6cb !default;
$error_border_color: #f5c6cb !default;
$error_bg_color: #f8d7da !default;

$success_text_color: #218011 !default;
$success_shadow_color: #c3e6cb !default;
$success_border_color: #c3e6cb !default;
$success_bg_color: #d4edda !default;