@import "option";
@import "svg";

.vg-form-sender {
  // Form selector
  &__selector {
	&.error {
	  label {
	  	color: $error_text_color;
	  }

	  input, select, textarea {
		background-color: $error_bg_color;
		border-color: $error_border_color;
		color: $error_text_color;
	 
		&::placeholder {
		  color: $error_text_color;
		}
		
		&:active, &:focus {
		  box-shadow: 0 0 0 0.2rem rgba($error_shadow_color,.25);
		}
	  }
	  
	  p {
		color: $error_text_color;
		font-size: 12px;
		margin-top: 3px;
	  }
	}
  }
  
  // Modal
  &__modal {
	display: none;

	.modal-dialog {
	  margin: 5.75rem auto;
	
	  .modal-content {
		border-radius: 0;
		box-shadow: none;
		border: none;
		position: relative;
		padding: 45px;
	 
		.modal-close {
		  position: absolute;
		  right: -45px;
		  top: -45px;
		  opacity: .9;
		  background: transparent;
		  border: none;
		  font-size: 18px;
		  cursor: pointer;
		  transition: transform .8s ease-in-out;
		
		  svg {
			width: 25px;

			polygon {
			  fill: white !important;
			}
		  }
		
		  &:hover {
			transform: rotate(360deg);
		  }
		}
	 
		.modal-footer, .modal-header {
		  border: none;
		
		  .btn {
			line-height: 1;
			text-transform: none;
			font-size: 24px;
		  }
		}
	  }
	}
	
	&--alert {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  margin: 0;
	  border: none;
	  border-radius: 0;
	  padding: .75rem 1.25rem;
	  
	  .title {
		margin-top: 25px;
		margin-bottom: 20px;
		font-size: 2rem;
		font-weight: 900;
		text-transform: uppercase;
	  }
	  
	  &-error {
		.title {
		  color: $error_text_color;
		}
	  }
	  
	  &-success {
		background: transparent;
		border: none;
		
		.title {
		  color: $success_text_color;
		}
	  }
	}
  }
  
  // Block
  &__block {
	display: none;
	height: 100px;
	margin-top: 15px;
	align-items: center;
	border: 1px solid transparent;
	
	&.show {
	  display: flex;
	}
	
	.icon {
	  flex: 0 0 10%;
	  display: flex;
	  align-items: center;
	  
	  svg {
		height: 70px;
		width: auto;
	  }
	}
	
	.content {
	  flex-grow: 1;
	  flex-basis: 0;
	  max-width: 100%;
	  
	  .title {
		font-weight: 900;
	  }
	  
	  .msg {
		text-align: center;
	  }
	}
	
	&.success {
	  border-color: $success_border_color;
	  background-color: $success_bg_color;
	  
	  .title {
		color: $success_text_color;
	  }
	}
 
	&.error {
	  border-color: $error_border_color;
	  background-color: $error_bg_color;
	
	  .title {
		color: $error_text_color;
	  }
	}
  }
}