@import "option";

.vg-form-sender {
  &__selector {
	&.error {
	  label {
	  	color: $error_text_color;
	  }

	  input {
		background-color: $error_bg_color;
		border-color: $error_border_color;
		color: $error_text_color;
	 
		&::placeholder {
		  color: $error_text_color;
		}
		
		&:active, &:focus {
		  box-shadow: 0 0 0 0.2rem rgba($error_shadow_color,.25);
		}
	  }
	  
	  p {
		color: $error_text_color;
		font-size: 12px;
		margin-top: 3px;
	  }
	}
  }
}